@page
@model GameScorePortal.Pages.Players.IndexModel

@{
    ViewData["Title"] = "Players";
}

<h2>Players</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no color">
        <p>
            Find by name:
        </p>
        <input type="text" name="SearchString" value="@Model.CurrentFilter"/>
        <input type="submit" value="Search" class="btn btn-primary" /> |
        <a asp-page="./Index">Back to full list</a>

    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Players[0].LastName)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Players[0].FirstName)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Players[0].JoinDate)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Players) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JoinDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PlayerId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PlayerId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PlayerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.Players.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Players.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Players.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Players.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>